---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="intro">
				<h1>Hi, I'm Jonathan.</h1>
				<p>
					I'm a software engineer. I write about technology, software development,
					and other things that interest me.
				</p>
				<p>
					<a href="/blog">Read the blog &rarr;</a>
				</p>
			</section>
		</main>
		<Footer />
	</body>
</html>
<style>
	.intro {
		padding: 4em 0;
	}
	.intro h1 {
		font-size: 2.5em;
		margin-bottom: 0.5em;
	}
	.intro p {
		color: rgb(var(--gray));
		font-size: 1.2em;
		max-width: 540px;
	}
	.intro a {
		color: rgb(var(--black));
		text-decoration: none;
		font-weight: 500;
	}
	.intro a:hover {
		text-decoration: underline;
	}
</style>
